// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-grey {
  background-color: rgb(233, 228, 228);
  &:hover {
     background-color: rgb(76, 85, 28);
  }
}

.background-dark-grey{
  background-color: rgb(40, 40, 40);
  color:white;
  &:hover {
     background-color: rgb(28, 85, 67);
   }
}
